#Nav-Bar {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  z-index: 1;

  .Nav-logo {
    flex: 0;
    color: #3376fb;
    font-weight: bold;
    margin: 0 1.7em;
    padding: 1rem 0;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: black;
    }
  }

  .Nav-Search-Bar {
    flex: 0 0 40%;
    margin: auto 10px;

    &::before {
      border-bottom-color: #0410fd;
    }

    &::after {
      border-bottom-color: #3376fb;
    }
  }

  .Nav-Button-group {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    margin-left: auto;

    #Nav-Color-switch {
      font-size: 0.7em;
      color: #707070;
      margin: auto 20px;
    }

    > a {
      display: flex;

      > #Nav-Link {
        color: #707070;
        font-weight: 600;
        margin: auto 10px;
      }

      > #Nav-Profile {
        border: 2px #bbbbbb solid;
        margin-left: 10px;
        margin-right: 40px;
      }
    }
  }
}

.dark-mode {
  #Nav-Bar {
    background-color: #1a1a1a;
    .Nav-logo:hover {
      color: white;
    }
    .Nav-Search-Bar {
      &::before {
        border-bottom-color: #707070 !important;
      }
    }
  }
}
