.App > .Nav-APPBar {
  position: relative;
  left: auto;
  right: auto;
}
.Nav-Bar-First {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  z-index: 1;

  .Nav-logo {
    flex: 0;
    color: #3376fb;
    font-weight: bold;
    margin: 0 1.7em;
    padding: 1rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: black;
    }
  }

  .Nav-Search-Bar {
    flex: 0 0 40%;
    margin: auto 10px;

    &::before {
      border-bottom-color: #0410fd;
    }

    &::after {
      border-bottom-color: #3376fb;
    }
  }

  .Nav-Button-group {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    margin-left: auto;

    > a {
      display: flex;

      > #Nav-Link {
        font-size: 0.8rem;
        color: #707070;
        font-weight: 600;
        margin: auto 10px;
      }

      > .Nav-Profile {
        border: 2px #bbbbbb solid;
        margin-left: 10px;
        margin-right: 25px;
      }
    }
  }
}

#Nav-Color-switch {
  font-size: 0.7em;
  color: #707070;
  font-weight: bold;
  margin: auto 20px;

  .MuiSwitch-switchBase {
    color: #ba68c8;

    .MuiSwitch-input {
      top: 0;
      // left: 0;
      // width: 100%;
      cursor: inherit;
      height: 100%;
      margin: 0;
      opacity: 0;
      padding: 0;
      z-index: 1;
      position: absolute;
    }
  }
}

.dark-mode {
  .Nav-Bar-First {
    background-color: #1a1a1a;

    .Nav-logo:hover {
      color: white;
    }

    .Nav-Search-Bar {
      &::before {
        border-bottom-color: #707070 !important;
      }
    }
  }
}

.Nav-MenuBtn.Nav-MenuBtn {
  padding: 0;
  color: #707070;
  min-width: 48px;
}
.Nav-DropDown-List {
  display: block;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.51, 0.04, 0.99);
  -moz-transition: all 0.3s cubic-bezier(0, 0.51, 0.04, 0.99);
  -o-transition: all 0.3s cubic-bezier(0, 0.51, 0.04, 0.99);
  transition: all 0.3s cubic-bezier(0, 0.51, 0.04, 0.99);

  > .menuBtnItem {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 1em !important;
    margin: auto 0;
    p,
    a {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

.Nav-DropDown-Open {
  display: flex;
  flex-direction: column;
  background-color: #2867e6;
  align-items: stretch;
  justify-items: center;
  height: 10em;
  padding: 0.5em 0;
  box-shadow: 0px 6px 4px -3px #686868;
}

@media only screen and (max-width: 1019px) {
  .Nav-Bar-First .Nav-logo {
    margin: 0 13px;
  }
  .Nav-APPBar {
    position: float;
  }
  #Nav-Color-switch {
    color: #ffffff;
  }
}
