.postbody-container {
  position: relative;
  // top: 140px;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;

  .ModifyBtn {
    position: absolute;
    top: 30px;
    left: -60px;
    color: #e2e2e2;
    background-color: #8432bf;
  }
  .post-title-bg {
    width: 95%;
    margin-top: 20px;
    #post-title {
      margin-bottom: 30px;
      font-size: 90px;
      font-weight: 400;
      font-family: 'Nanum Pen Script', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    }
  }
  .titie-section-divider {
    width: 100%;
    height: 1px;
    background-color: #707070;
  }
  .modify-date {
    width: 97%;
    color: #616161;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 18px;
  }
  .post-desc {
    position: relative;
    width: 100%;
    max-width: 40em;
    font-size: 22px;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    font-family: 'Nanum Gothic', 'Segoe UI', sans-serif;

    h2,
    h3 {
      border-left: solid 4px #3376fb;
      margin-top: 2em;
      padding: 0.3em 0 0.2em;
      padding-left: 0.3em;
    }
    p {
      line-height: 1.6em;
      // text-indent: 0.5em;
    }
    code {
      font-size: 17px;
    }
    blockquote {
      color: #414565;
      font-size: 17px;
      border-radius: 0.3em;
      margin: 1em 0;
      background-color: #ececec;
      > p {
        padding: 1.4rem 2em;
      }
    }
    a:-webkit-any-link {
      color: #fb3333;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        text-decoration-style: dashed;
      }
    }
    li {
      list-style-type: none;
      position: relative;
      padding-left: 15px;
    }

    img {
      max-width: 100%;
      object-fit: contain;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .postbody-container {
    width: 90%;

    .ModifyBtn {
      left: unset;
      right: 0px;
      align-self: end;
    }
  }
}
@media only screen and (max-width: 640px) {
  .postbody-container > .post-title-bg {
    > #post-title {
      font-size: 50px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  .postbody-container {
    > .post-desc {
      blockquote {
        > p {
          padding: 0.5em 1em;
        }
      }
      > h2,
      h3 {
        margin-top: 1em;
      }
      ul {
        padding-left: 1em;
        > li {
          padding-left: 0;
        }
      }
    }
  }
}
