.image-uploader-bg {
  display: flex;
  flex-direction: column;
  flex-basis: 800px;
  padding: 20px;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-button {
    display: block;
    height: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3376fb;
    border-radius: 2px;
  }

  > .modal-header {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;

    > .modal-title {
      display: inline-block;
      padding-left: 0.5em;
      font-weight: bold;
    }
    > .CloseBtn {
      position: absolute;
      display: inline-block;
      right: 20px;
      width: 40px;
      height: 40px;
    }
  }

  > .modal-body {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    > .image-selector-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 2.5rem;
      margin: 10px 80px;
      padding-left: 1em;
      border: 1px solid #707070;
      border-radius: 5px;
      font-weight: bold;
      font-family: 'Roboto', 'Segoe UI', 'sans-serif';

      > .Image-Search-Btn {
        padding: 0 10px;
        height: 100%;
        color: #3376fb;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: none;
        border-radius: 0 4px 4px 0;
        margin-left: auto;
        border-left: solid 1px #707070;

        .MuiSvgIcon-root {
          margin-bottom: 5px;
          margin-right: 5px;
          width: 28px;
          height: 28px;
        }
      }
    }
    > #image-preview {
      display: flex;
      position: relative;
      height: 62%;
      max-height: 600px;
      margin: 40px 80px;
      background: url('/img/empty_background_pattern.jpg');
      background-repeat: repeat;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    > .recent-image-list {
      display: flex;
      flex-direction: row;
      flex: 1;
      height: 150px;
      margin: 0 40px;
      align-self: flex-end;
      border-top: solid 1px #d2d2d2;
      border-bottom: solid 1px #d2d2d2;

      > .subTitle-on-div {
        position: relative;
        display: inline-block;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        background-color: white;
        color: #707070;
        width: 5em;
        top: -12px;
        left: 5em;
        text-align: center;
      }
    }
  }
}

//darkmode
.dark-mode .image-uploader-bg {
  background-color: #1a1a1a;
}
