$skeleton-primary-color:#E0E0E0;

.Article-card-skeleton{
  .Article-card-head{
    >.Article-title-skeleton{
      width:100%;
      max-width: 24em;
      height: 2rem;
      background-color:$skeleton-primary-color;
      margin-bottom:3px;
      
      animation-name: loading;
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
    }
  }
  .Article-date-skeleton{
    width:100%;
    max-width: 12em;
    height:0.7rem;
    margin-top:0.1em;
    background-color:$skeleton-primary-color;

    animation-name: loading;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
  }
  .Article-desc-skeleton{
    margin:1em 0;
    >div{
      width:100%;
      max-width:800px;
      margin:5px 0;
      background-color:$skeleton-primary-color;
      height:1rem;

      animation-name: loading;
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
    }
  }
  .Article-Tag-list{
    >.Article-tag-item-skeleton{
      height: 1rem;
      width: 3.5em;
      margin: 0 3px;
      background-color:$skeleton-primary-color;

      animation-name: loading;
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes loading {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}