$skeleton-primary-color: #e0e0e0;

.postbody-container {
  > .post-title-bg-skeleton {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 2rem;
    > #post-title {
      height: 90px;
      background-color: $skeleton-primary-color;
      border-radius: 5px;

      animation-name: loading;
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
    }
  }
  > .modify-date-skeleton {
    width: 15em;
    height: 1rem;
    background-color: $skeleton-primary-color;
    border-radius: 5px;

    animation-name: loading;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
  }
  > .post-desc-skeleton {
    width: 90%;
    margin: 1em 0;

    > div {
      margin: 5px 0;
      font-size: 22px;
      max-width: 40em;
      height: 22px;
      background-color: $skeleton-primary-color;
      border-radius: 5px;

      animation-name: loading;
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes loading {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
